form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

button {
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
}

input {
    padding: 5px;
}

.assessment {
    display: flex;
    justify-content: space-between;
    height: 300px;
    gap: 40px;
    margin-top: 20px;
}

