.instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80vh;
    font-size: 23px;
    line-height: 50px;
    letter-spacing: 1.5px;
    overflow-y: auto;
}

.instruction-title {
    align-self: center;
}

.enjoy {
    align-self: center;
    font-size: 30px;
    font-family: 'Yuji Hentaigana Akebono', cursive;
}