.instructions {
    align-items: flex-start;
    font-size: 23px;
    line-height: 50px;
    letter-spacing: 1.5px;
    overflow-y: auto;
    padding-bottom: 160px;
}

.instruction-title {
    align-self: center;
}

.enjoy {
    align-self: center;
    font-size: 30px;
    font-family: 'Yuji Hentaigana Akebono', cursive;
    text-align: center;
}