.itinerary {
    padding: 60px 40px 160px 40px;
    letter-spacing: 2px;
    line-height: 30px;
    width: calc(100vw - 100px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}

.save-itinerary {
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    margin-top: 50px;
}

a {
    color: rgb(255, 221, 0);
}

.saved {
    background-color: green;
}

.saved:hover {
    background-color: rgb(0, 183, 0);
}
.itinerary-error {
    align-self: center;
    margin: 30% auto;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.login-error {
    color: rgb(199, 68, 42);
    margin-top: 10px;
}

