.saved-locations {
    display: flex;
    gap: 60px;
    padding: 60px 40px;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: scroll;
}

.saved-location {
    background-color: #515e8e;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.saved-location:hover {
    transform: scale(1.05);
    background-color: #5d74c6;
}

.hidden {
    display: none;
}

.open {
    position: fixed;
    height: 700px;
    width: 900px;
    overflow-y: scroll;
    padding: 20px;
    z-index: 2;
    top: calc(50% - 350px);
    left: calc(50% - 350px);
    display: block;
}

.open:hover {
    transform: scale(1);
    background-color: #515e8e;
}

.open > .hidden {
    display: block;
}

.description {
    letter-spacing: 1.5px;
    line-height: 25px;
}

.remove-btn {
    width: fit-content;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.remove-btn:hover, .close-btn:hover {
    background-color: rgb(199, 68, 42);
}

.location-info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.no-itinerary {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 1.5px;
}

.close-btn {
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.overflow {
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}

.open-overflow > .overflow {
    display: block;
}