.saved-locations {
    display: flex;
    gap: 30px;
    width: 800px;
    padding-top: 60px;
    flex-wrap: wrap;
}

.saved-location {
    background-color: #515e8e;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.saved-location:hover {
    transform: scale(1.05);
    background-color: #5d74c6;
}

.hidden {
    display: none;
}

.open {
    position: fixed;
    height: 700px;
    width: 900px;
    overflow-y: scroll;
    padding: 20px;
    z-index: 1;
    top: calc(50% - 350px);
    left: calc(50% - 350px);
    display: block;
}

.open:hover {
    transform: scale(1);
    background-color: #515e8e;
}

.open > .hidden {
    display: block;
}

.description {
    height: fit-content;
}

.remove-btn {
    width: fit-content;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.remove-btn:hover {
    background-color: rgb(199, 68, 42);
}

.location-info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.no-itinerary {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 1.5px;
}