.sidebar {
    width: 400px;
    z-index: 1;
    position: fixed;
    background-color: #1e2e4e;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px black;
    transition: width .3s;
    height: 100vh;
}

.letter-t {
    font-family: 'Yuji Hentaigana Akebono', cursive;
    font-size: 80px;
    letter-spacing: -15px;
}

.gpt-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.gpt-btn {
    width: 230px;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.world {
    width: 350px;
}

.logo {
    align-self: center;
}

.hamburger-icon {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 1;
}

.hamburger-icon > span {
    height: 3px;
    width: 30px;
    background-color: white;
    display: block;
    border-radius: 10px;
}

.hamburger-icon::after, .hamburger-icon::before {
    content: '';
    display: block;
    height: 3px;
    width: 30px;
    background-color: white;
    border-radius: 10px;
}

.hamburger-icon::before {
    margin-bottom: 5px;
}

.hamburger-icon::after {
    margin-top: 5px;
}

@media (max-width: 1020px) {
    .sidebar {
        width: 60px;
    }

    .open-sidebar {
        width: 400px;
    }

    .sidebar > * {
        opacity: 0;
    }
    
    .sidebar > *:not(.hamburger-icon) {
        transform: translateX(-1000px);
    }

    .open-sidebar > *:not(.hamburger-icon) {
        opacity: 1;
        transform: translateX(0);
    }

    .hamburger-icon {
        display: block;
        opacity: 1;
    }

    .sidebar-icon {
        display: block;
    }
}

@media (max-width: 600px) {
    .open-sidebar {
        width: 100%;
    }
}