.sign-up {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-self: center;
    justify-content: center;
    gap: 20px;
    letter-spacing: 2px;
    margin: 50% auto;
}

.sign-up h2 {
    text-align: center;
}


.already-signed {
    display: flex;
    gap: 10px;
    letter-spacing: 2px;
    align-self: center;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sign-up-button {
    width: 300px;
    align-self: center;
    padding: 15px;
    border-radius: 50px;
}

.email, .password, .name {
    height: 40px;
}

.error {
    text-align: center;
    letter-spacing: 1.5px;
    color: rgb(199, 68, 42);
}

@media (max-width: 720px) {
    .sign-up {
        width: 100%;
        overflow-y: auto;
    }

    .sign-up h2 {
        margin-top: 60px;
    }

    .sign-up-button {
        width: 200px;
    }

    .already-signed {
        flex-direction: column;
        text-align: center;
    }
}